.header-container {
    display: flex;
   border: 1px solid lightblue;
    background: lightblue;
    padding: 10px;
  }
  .imgbar {
    margin-right: 10px; /* Adjust the margin as needed */
  }
  
  .emailid {
    /* Add styles for the emailid container if needed */
  }
  .apply{
     margin-left: 70%;
     text-decoration: aliceblue;
  }
  .expand-icon {
    margin-left: auto; /* This will push the icon to the right */
    display: block;
    border:  4px solid white;
    background-color: white;
  }
  